/.cloud
/.DS_Store
/.HA_VERSION
/.omv_cookies.json
/.storage
/.vscode
/custom_components
/deps
/glances
/home-assistant.log
/home-assistant_v2.db
/python
/README.md
/secrets.yaml
/tts
/upcoming.txt
/webostv.conf
/filesyaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
filesyaml/softui_old.yaml
/views
views/01-home.yaml
views/03-climate.yaml
views/04-media.yaml
views/06-test.yaml
themes/ios-themes/homekit-bg-blue-red.jpg
themes/ios-themes/homekit-bg-dark-blue.jpg
themes/ios-themes/homekit-bg-dark-green.jpg
themes/ios-themes/homekit-bg-light-blue.jpg
themes/ios-themes/homekit-bg-light-green.jpg
themes/ios-themes/homekit-bg-orange.jpg
themes/ios-themes/homekit-bg-red.jpg
themes/ios-themes/ios-themes.yaml
themes/Default.yaml
themes/Paper.yaml
themes/Silver.yaml
image/67887ca5638bf28cd6c4527fc6eb62c9/512x512
image/67887ca5638bf28cd6c4527fc6eb62c9/original
image/c85552257a18a2d78edd6cc8eea65291/512x512
image/c85552257a18a2d78edd6cc8eea65291/original
www/loader.svg
www/font.css
www/custom_icons.js
www/.DS_Store
www/upcoming-media-card-images/plex/Film_Recenti/f2808.jpg
www/upcoming-media-card-images/plex/Film_Recenti/f2809.jpg
www/upcoming-media-card-images/plex/Film_Recenti/f2810.jpg
www/upcoming-media-card-images/plex/Film_Recenti/f2811.jpg
www/upcoming-media-card-images/plex/Film_Recenti/f3179.jpg
www/upcoming-media-card-images/plex/Film_Recenti/p2808.jpg
www/upcoming-media-card-images/plex/Film_Recenti/p2809.jpg
www/upcoming-media-card-images/plex/Film_Recenti/p2810.jpg
www/upcoming-media-card-images/plex/Film_Recenti/p2811.jpg
www/upcoming-media-card-images/plex/Film_Recenti/p3179.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/f3170.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/f3171.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/f3172.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/f3173.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/f3174.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/p3170.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/p3171.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/p3172.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/p3173.jpg
www/upcoming-media-card-images/plex/Serie_TV_Recenti/p3174.jpg
www/propic/andre.jpg
www/propic/andregr.jpg
www/propic/arteon.png
www/propic/ary.jpg
www/propic/arygr.jpg
www/propic/barbara.jpg
www/propic/barbaragr.jpg
www/propic/gerry.jpg
www/propic/gerrygr.jpg
www/propic/hassio.png
www/propic/lina.jpg
www/propic/linagr.jpg
www/propic/luca.jpg
www/propic/lucia.jpg
www/propic/luciagr.jpg
www/propic/mary.jpg
www/propic/marygr.jpg
www/propic/mattia.jpg
www/propic/mattiagr.jpg
www/propic/nlucia.jpg
www/propic/nluciagr.jpg
www/propic/roby.jpg
www/propic/robygr.jpg
www/poster/1.jpg
www/poster/2.jpg
www/poster/3.jpg
www/poster/4.jpg
www/poster/5.jpg
www/images/wallpapers/blue-wood.png
www/images/wallpapers/gray-wood.png
www/images/wallpapers/ios13-homekit-dark-blue.png
www/images/wallpapers/ios13-homekit-dark-green.png
www/images/wallpapers/ios13-homekit-light-blue.png
www/images/wallpapers/ios13-homekit-light-green.png
www/images/wallpapers/ios13-homekit-orange.png
www/images/wallpapers/ios13-homekit-red.png
www/images/wallpapers/love-red.jpg
www/images/wallpapers/pink-flowers.jpg
www/images/wallpapers/popup-wallpaper-gray.png
www/images/wallpapers/popup-wallpaper-pink.png
www/images/wallpapers/popup-wallpaper-red.png
www/images/wallpapers/valentine-test.jpg
www/images/wallpapers/valentine-test1.jpg
www/images/wallpapers/valentines-day-2.jpg
www/images/wallpapers/valentines-day.jpg
www/images/wallpapers/white-gradient.png
www/images/.DS_Store
