/.cloud
/.DS_Store
/.HA_VERSION
/.omv_cookies.json
/.storage
/.vscode
/custom_components
/deps
/glances
/home-assistant.log
/home-assistant_v2.db
/python
/README.md
/secrets.yaml
/tts
/upcoming.txt
/webostv.conf
/www
/filesyaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
filesyaml/softui_old.yaml
/views
views/01-home.yaml
views/03-climate.yaml
views/04-media.yaml
views/06-test.yaml
themes/ios-themes/homekit-bg-blue-red.jpg
themes/ios-themes/homekit-bg-dark-blue.jpg
themes/ios-themes/homekit-bg-dark-green.jpg
themes/ios-themes/homekit-bg-light-blue.jpg
themes/ios-themes/homekit-bg-light-green.jpg
themes/ios-themes/homekit-bg-orange.jpg
themes/ios-themes/homekit-bg-red.jpg
themes/ios-themes/ios-themes.yaml
themes/Default.yaml
themes/Paper.yaml
themes/Silver.yaml
image/67887ca5638bf28cd6c4527fc6eb62c9/512x512
image/67887ca5638bf28cd6c4527fc6eb62c9/original
image/c85552257a18a2d78edd6cc8eea65291/512x512
image/c85552257a18a2d78edd6cc8eea65291/original
